version: '3.8'

services:
  backend:
    build: ./backend
    container_name: issue-tracker-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: issue-tracker-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    restart: always
